$mdc-theme-primary: #0277bd;
$mdc-theme-secondary: #fafafa;
$mdc-theme-background: #ffffff;

@import '~material-components-vue/components/material-components-vue.scss';
@import "~normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

